*,
*::before,
*::after {
    box-sizing: border-box;
}

.sidebar {
    width: 25%;
    height: 100vh;
    background-color: white;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.25);

    .top {
        padding: 16px;
        background-color: #F6F6F6;
        border-bottom: 1px solid #ececec;

        .info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;

            &-detail {
                text-align: end;
            }
        }

        h2 {
            font-size: 32px;
        }

        .date {
            margin-bottom: 8px;
        }

        .idnum {
            display: none;
            font-size: 14px;

            span {
                font-size: 18px;
                font-weight: 500;
                color: #668AFE;
            }
        }

        select {
            appearance: none;
            width: 100%;
            height: 48px;
            border: 1px solid #E2E2E2;
            border-radius: 4px;
            margin-bottom: 8px;
            padding: 0 16px;
            font-size: 18px;
        }

        .dropdown {
            background-image: url(/img/caret-down-fill.svg);
            background-position: top 50% right 16px;
            background-repeat: no-repeat;
        }
    }

    .list {
        overflow-y: auto;
        height: calc(100vh - 200px);
    }

    .list-item {
        border-bottom: 1px solid #E2E2E2;
        padding: 24px 16px;

        .item-title {
            font-size: 18px;
            margin-bottom: 16px;
        }

        .item-place {
            color: #888888;
            display: flex;
            align-items: center;

            &::before {
                content: "";
                width: 16px;
                height: 16px;
                margin-right: 8px;
                display: inline-block;
                background-color: #888;
                mask: url(/img/geo-alt-fill.svg) no-repeat 0 0;
            }
        }

        .item-phone {
            margin-top: 16px;
            color: #888888;
            display: flex;
            align-items: center;

            &::before {
                content: "";
                width: 16px;
                height: 16px;
                margin-right: 8px;
                display: inline-block;
                background-color: #888;
                mask: url(/img/telephone-fill.svg) no-repeat 0 0;
            }
        }

        .mask {
            display: flex;
            margin-top: 16px;
            border-radius: 6px;
            overflow: hidden;

            &-button {
                text-align: center;
                width: 50%;
                padding: 16px 24px;
                border-right: 1px solid white;
            }

            .own {
                background: #668AFE;
                color: white;
            }

            .none {
                background: #E2E2E2;
                color: #9C9C9C;
            }

        }
    }
}


@media (max-width:1440px) {
    .sidebar{
        width: 45%;

        .top{
            .info{
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                &-detail {
                    text-align: start;
                }

                h2{
                    margin-bottom: 16px;
                }
            }
        }

        .list-item{

            .mask{
                display: flex;
                flex-direction: column;
                width: 100%;
        
                &-button{
                    width: 100%;
                    border-right: 0px;
                    border-bottom: 1px solid white;
                }


            }
        }
        
    }
}